.upgrade {
	background:#fff;
	padding: 2em;
	max-width: 500px;
	margin: 1em 0;

	h3 {
		margin-top: 0;
	}

	span {
		color:#5163ba;
	}

	pre {
		border: 3px dashed#82878c;
		background: #fff9c5;
		padding: 1.2em;
		text-align: center;
	}

}
